.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 10px;
}

.item {
    width: 235px;
    height: 310px;
    display: flex;
    align-items: center;
    text-decoration: unset;
}

@media screen and (max-width: 480px) {
    .item {
        max-width: unset;
        width: 48%;
        height: 250px;
        flex: unset;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .item {
        width: 223px;
    }
}


@media only screen and (min-width: 1024px) {
    .item {
        width: 218px;
    }
}

@media only screen and (min-width: 1200px) {
    .item {
        width: 235px;
    }
}